@* @model IEnumerable<Vestigio.Models.Challenge> *@
@model PaginatedList<Vestigio.Models.Challenge>

@{
    ViewData["Title"] = "Index";
}

<h1>Challenges</h1>

<p>
    <a asp-action="Create">Create New Challenge</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
                @* @Html.DisplayNameFor(model => model.Title) *@
            </th>
            <th>
                Description
                @* @Html.DisplayNameFor(model => model.Description) *@
            </th>
            <th>
                Solution
                @* @Html.DisplayNameFor(model => model.Solution) *@
            </th>
            <th>
                Exp Points
                @* @Html.DisplayNameFor(model => model.ExpPoints) *@
            </th>
            <th>
                Coins
                @* @Html.DisplayNameFor(model => model.Coins) *@
            </th>
            <th>
                Rarity Level
                @* @Html.DisplayNameFor(model => model.RarityLevel) *@
            </th>
            <th>
                Activated
                @* @Html.DisplayNameFor(model => model.Active) *@
            </th>
            <th>
                Creation Date
                @* @Html.DisplayNameFor(model => model.CreationDate) *@
            </th>
            <th>
                Product Level
                @* @Html.DisplayNameFor(model => model.ProductLevel) *@
            </th>
            <th>
                Product
                @* @Html.DisplayNameFor(model => model.Product) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RarityLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@* Incluir el componente Pagination *@
<Partial name="_Pagination" model="Model" />
