@model Vestigio.Models.Challenge

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Challenge</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @* <dt class = "col-sm-2"> *@
        @*     @Html.DisplayNameFor(model => model.Solution) *@
        @* </dt> *@
        @* <dd class = "col-sm-10"> *@
        @*     @Html.DisplayFor(model => model.Solution) *@
        @* </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RarityLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RarityLevel)
        </dd>
        @* <dt class = "col-sm-2"> *@
        @*     @Html.DisplayNameFor(model => model.Active) *@
        @* </dt> *@
        @* <dd class = "col-sm-10"> *@
        @*     @Html.DisplayFor(model => model.Active) *@
        @* </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
